{% extends "mana_app/index.html" %}
{% block content %}

<!--
<div class="content forms_fixed">
    <div class="row">
        <form class="js-validation-bootstrap form-horizontal" method="post" id="query_form" name="query_form">
            {% csrf_token %}
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label">用户名称</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="lottery_award_name" placeholder="请填写要查询的用户名">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="form-lottery_award">
                        <div class="col-sm-12">
                            <button class="btn btn-minw btn-success" type="button" id="query_btn">查询</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
-->

<!-- Page Content -->
<div class="content">
    <div class="block block-bordered">
        <div class="block-header bg-gray-lighter">
            <ul class="block-options">
                <li>
                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                </li>
            </ul>
            <div class="block-options-simple">
                <button id="add_lottery_award_btn" class="btn btn-minw btn-warning" data-toggle="modal" data-target="#lottery_award_modal"><i class="fa fa-plus"></i> 新增</button>
            </div>
            <h3 class="block-title">优惠券限制规则</h3>
        </div>
        <div class="block-content">
            <div class="table-responsive">
                <table class="table text-nowrap text-center table-bordered" name='addendum'>
                    {% csrf_token %}
                    <thead>
                        <tr>
                            <th class="text-center">序号</th>
                            <th class="text-center">优惠券名称</th>
                            <th class="text-center">优惠券类型</th>
                            <th class="text-center">优惠券规定时间内中奖次数</th>
                            <th class="text-center">优惠券中奖限定时间（单位：秒）</th>
                            <th class="text-center">优惠券规定时间内核销次数</th>
                            <th class="text-center">优惠券核销限定时间（单位：秒）</th>                            
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lottery_award in lottery_awards %}
                        <tr lottery_award_id="{{ lottery_award.id }}">
                            <td>{{ forloop.counter }}</td>
                            <td field='coupon'>{{lottery_award.coupon.name}}</td>
                            <td field='busitype'>{{lottery_award.busitype.name}}</td>
                            <td field='l_num'>{{lottery_award.l_num}}</td>
                            <td field='l_time'>{{lottery_award.l_time}}</td>
                            <td field='h_num'>{{lottery_award.h_num}}</td>
                            <td field='h_time'>{{lottery_award.h_time}}</td>
                            <td>
                                <input name="delete_lottery_award" type="button" class="btn btn-sm btn-danger" value="删除"/>
                                <input name="update_lottery_award" type="button" class="btn btn-sm btn-success" value="更新"/>
                            </td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block-header">
            <div class="block-title">说明</h4>
        </div>
        <div class="block-content">
            <ul>
                <li>用于配置优惠券的抽奖中奖限制和优惠券的核销限制</li>
            </ul>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="lottery_award_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                       优惠券限制规则新增
                    </h4>
                </div>
                <div class="block-content">
                    <form class="js-validation-bootstrap form-horizontal" id="lottery_award_modal_form">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="coupon">选择优惠券 <span class="text-danger">*</span></label>
                            <div class="col-md-7">
                                <select class="form-control" name="coupon">
                                    {% for coupon in coupons %}
                                    <option value="{{ coupon.id }}">{{ coupon.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="busitype">类型 </label>
                            <div class="col-md-7">
                                <select class="form-control" name="busitype">
                                    {% for busi_type in busi_types %}
                                    <option value="{{ busi_type.id }}">{{ busi_type.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group" name='credits_div'>
                            <label class="col-md-4 control-label" for="l_num">限定时间内中奖次数 <span class="text-danger">*</span></label>
                            <div class="col-md-7">
                                <input class="form-control credit" type="number" name="l_num" placeholder="输入正整数">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="l_time">中奖限定的时间（单位：秒） <span class="text-danger">*</span></label>
                            <div class="col-md-7">
                                <input class="form-control" type="number" name="l_time" min="0" placeholder="请输入正整数"></input>
                            </div>
                        </div>
                        <div class="form-group" name='credits_div'>
                            <label class="col-md-4 control-label" for="h_num">限定时间内核销次数 <span class="text-danger">*</span></label>
                            <div class="col-md-7">
                                <input class="form-control credit" type="number" name="h_num" placeholder="输入正整数">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="h_time">核销限定的时间（单位：秒） <span class="text-danger">*</span></label>
                            <div class="col-md-7">
                                <input class="form-control" type="number" name="h_time" min="0" placeholder="请输入正整数"></input>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-minw btn-default" type="button" data-dismiss="modal">取消</button>
                    <button class="btn btn-minw btn-primary" type="button" id="lottery_award_modal_submit">提交</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal -->
</div>
<!-- END Page Content -->
<script type="text/javascript" src="/static/mana_app/js/lottery_award_rule_set.js"></script>
{% endblock %}
