            <div class="table-responsive">
                <table class="table text-nowrap text-center table-bordered" name='addendum'>
                    <thead>
                        <tr>
                            <th class="text-center">序号</th>
                            <th class="text-center">维护机构号</th>
                            <th class="text-center">维护机构</th>
                            <th class="text-center">商户名称</th>
                            <th class="text-center">联系方式</th>
                            <th class="text-center">优惠券名称</th>
                            <th class="text-center">优惠券类型</th>
                            <th class="text-center">上架日期</th>
                            <th class="text-center">下架日期</th>
                            <th class="text-center">售出数量</th>
                            <th class="text-center">剩余数量</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for report_coupon in report_coupons %}
                        <tr report_coupon_id="{{ report_coupon.id }}">
                            <td>{{ forloop.counter }}</td>
                            <td field="bankno">{{ report_coupon.bankno }}</td>
                            <td field="bank">{{ report_coupon.bank }}</td>
                            <td field="shop">{{ report_coupon.shop }}</td>
                            <td field="telno">{{ report_coupon.telno }}</td>
                            <td field="name">{{ report_coupon.name }}</td>
                            <td field="type">{{ report_coupon.type }}</td>
                            <td field="on_date">{{ report_coupon.on_date }}</td>
                            <td field="off_date">{{ report_coupon.off_date }}</td>
                            <td field="soldnum">{{ report_coupon.soldnum }}</td>
                            <td field="leftnum">{{ report_coupon.leftnum }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
{% if report_coupons %}
<ul class="pager">
    {% if report_coupons.has_previous %}
    <li><a action="first" href="javascript:;">首页</a></li>
    <li><a action="prev" href="javascript:;">上一页</a></li>
    {% endif %}
    <li name="current_page">第{{ report_coupons.number }}页</li>
    <li name="total_page">共{{ report_coupons.paginator.num_pages }}页</li>
    <li name="count">共{{ report_coupons.paginator.count }}条数据</li>
    {% if report_coupons.has_next %}
    <li><a action="next" href="javascript:;">下一页</a></li>
    <li><a action="last" href="javascript:;">末页</a></li>
    {% endif %}
</ul>
{% else %}
<strong><p class="text-center text-danger">查无数据</p></strong>
{% endif %}
