<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}南浔银行{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link href="/static/outer_app/css/yinsho.css" rel="stylesheet"/>
    <link href="/static/outer_app/css/main.css" rel="stylesheet"/>
    <link href="/static/outer_app/font/iconfont.css" rel="stylesheet"/>
    <script src="/static/outer_app/asset/jquery.min.js"></script>
    <script src="/static/outer_app/js/tools.js"></script>
{% block header %}
{% endblock %}
</head>
<body ontouchstart>
	<div class="container">
{% block content %}
{% endblock %}
	</div>
</body>
</html>
