<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>积分明细</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link href="/static/outer_app/css/yinsho.css" rel="stylesheet"/>
    <link href="/static/outer_app/css/main.css" rel="stylesheet"/>
    <link href="/static/outer_app/font/iconfont.css" rel="stylesheet"/>
    <script src="/static/outer_app/asset/jquery.min.js"></script>
    <script src="/static/outer_app/js/credits_history.js"></script>
    <script src="/static/outer_app/js/tools.js"></script>
</head>
<body ontouchstart>
	<div class="container">
        <input type="hidden"/>
        <div id="credits_history_list" class="ys_panel history_item"></div>
        <div id="loading" class="ys_loadmore">
            <i class="ys_loading"></i>
            <span class="ys_more_tips">正在加载</span>
        </div>
	</div>
</body>
</html>
