<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>支付密码</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link href="/static/outer_app/css/yinsho.css" rel="stylesheet"/>
    <link href="/static/outer_app/css/main.css" rel="stylesheet"/>
    <link href="/static/outer_app/font/iconfont.css" rel="stylesheet"/>
    <script src="/static/outer_app/asset/jquery.min.js"></script>
    <script src="/static/outer_app/js/validate.js"></script>
    <script src="/static/outer_app/js/payment_password_modify.js"></script>
    <script src="/static/outer_app/js/tools.js"></script>
</head>
<body ontouchstart>
<div class="container">
    <form>
        <div class="ys_cells">
            {% if password_existed %}
            <div class="ys_cell">
                <div class="ys_cell_hd">
                    <label>原密码</label>
                </div>
                <div class="ys_cell_bd">
                    <input name="old_password" class="ys_input" type="password" maxlength="6" placeholder="请输入6位数字" pattern="^\d{6}$" emptyTips="原密码不能为空" notMatchTips="密码必须是6位数字" required>
                </div>
            </div>
            {% endif %}
            <div class="ys_cell">
                <div class="ys_cell_hd">
                    <label>新密码</label>
                </div>
                <div class="ys_cell_bd">
                    <input name="new_password" class="ys_input" type="password" maxlength="6" placeholder="请输入6位数字" pattern="^\d{6}$" emptyTips="新密码不能为空" notMatchTips="密码必须是6位数字" required>
                </div>
            </div>
            <div class="ys_cell">
                <div class="ys_cell_hd">
                    <label>重新输入</label>
                </div>
                <div class="ys_cell_bd">
                    <input name="new_password_reply" class="ys_input" type="password" maxlength="6" placeholder="请再次输入密码" pattern="^\d{6}$" emptyTips="新密码不能为空" notMatchTips="密码必须是6位数字" required>
                </div>
            </div>
        </div>
        <div class="ys_btns mt30">
            <a id="submit" class="ys_btn" href="javascript:;">确定</a>
        </div>
    </form>
</div>
</body>
</html>
