<!DOCTYPE html>
<html lang="en">
<head>
    <title>进度查询</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link href="/static/outer_app/css/yinsho.css" rel="stylesheet"/>
    <link href="/static/outer_app/css/main.css" rel="stylesheet"/>
    <link href="/static/outer_app/font/iconfont.css" rel="stylesheet"/>
    <script src="/static/outer_app/asset/jquery.min.js"></script>
    <script src="/static/outer_app/js/validate.js"></script>
    <script src="/static/outer_app/js/tools.js"></script>
    <script src="/static/outer_app/js/reservation_status.js?v=20180125"></script>
</head>
<body ontouchstart>
<div class="container">
    <div class="ys_navbar">
        <a class="ys_navbar_item nav_active" href="#tab1">未受理</a>
        <a class="ys_navbar_item" href="#tab2">已受理</a>
    </div>
    <div class="ys_tab">
        <div id="tab1" class="ys_tab_item tab_active"></div>
        <div id="tab2" class="ys_tab_item"></div>
        <div id="loading" class="ys_loadmore">
            <i class="ys_loading"></i>
            <span class="ys_more_tips">正在加载</span>
        </div>
    </div>
</div>
</body>
