<!DOCTYPE html>
<html lang="en">
<head>
    <title>快抵贷预约</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link href="/static/outer_app/css/jquery-weui.min.css" rel="stylesheet"/>
    <link href="/static/outer_app/css/yinsho.css" rel="stylesheet"/>
    <link href="/static/outer_app/css/main.css" rel="stylesheet"/>
    <link href="/static/outer_app/font/iconfont.css" rel="stylesheet"/>
    <script src="/static/outer_app/asset/jquery.min.js"></script>
    <script src="/static/outer_app/js/tools.js"></script>
</head>
<body ontouchstart style="background-color: #9ace50">
<div class="container">
    <div class="invitaion_banner">
        <img src="/static/outer_app/images/reservation/banner06.jpg">
    </div>
    <div class="ys_btns">
        <a class="ys_btn" href="{% url 'outer_app:reservation_kdd_page' %}">立即申请</a>
    </div>
</div>
</body>
</html>
