<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管理中心</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link href="/static/outer_app/css/yinsho.css" rel="stylesheet"/>
    <link href="/static/outer_app/css/main.css" rel="stylesheet"/>
    <link href="/static/outer_app/font/iconfont.css" rel="stylesheet"/>
    <script src=" https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/static/outer_app/asset/jquery.min.js"></script>
    <script src="/static/outer_app/js/validate.js"></script>
    <script src="/static/outer_app/js/popup.js"></script>
    <script src="/static/outer_app/js/tools.js"></script>
    <script src="/static/outer_app/js/seller.js?v=20180113"></script>
</head>
<body ontouchstart>
    <div id="req_token" style="display:none">{{ req_token }}</div>
    <div class="container" id='page_seller'>
        <div class="seller ys_flex">
            <div class="ys_cell_hd">
                <img src="/static/outer_app/images/mycoins.png">
            </div>
            <div class="ys_cell_bd" id="credits">{{ credits }}积分</div>
            <div class="ys_cell_ft"><a class="go_cash" href="{% url 'outer_app:seller_withdraw_apply_page' %}">去提现</a></div>
        </div>

        <div class="ys_grids ys_grids_border">
            <a class="ys_grid grid_border" id="scan">
                <div class="ys_grid_icon">
                    <img src="/static/outer_app/images/seller_icon01.png" alt="">
                </div>
                <p class="ys_grid_label">扫一扫</p>
            </a>
            <a class="ys_grid grid_border" href="{% url 'outer_app:staticfile' name='receipt' %}?qrcodeId=00000001">
                <div class="ys_grid_icon">
                    <img src="/static/outer_app/images/seller_icon02.png" alt="">
                </div>
                <p class="ys_grid_label">积分收费</p>
            </a>
            <a class="ys_grid grid_border" href="{% url 'outer_app:staticfile' name='credits_history' %}?type=seller">
                <div class="ys_grid_icon">
                    <img src="/static/outer_app/images/seller_icon03.png" alt="">
                </div>
                <p class="ys_grid_label">交易明细</p>
            </a>
            <a class="ys_grid grid_border" href="{% url 'outer_app:seller_withdraw_status_page' %}">
                <div class="ys_grid_icon">
                    <img src="/static/outer_app/images/seller_icon04.png" alt="">
                </div>
                <p class="ys_grid_label">提现申请记录</p>
            </a>
            <a class="ys_grid grid_border" href="{% url 'outer_app:shop_page' %}">
                <div class="ys_grid_icon">
                    <img src="/static/outer_app/images/seller_icon05.png" alt="">
                </div>
                <p class="ys_grid_label">我的店铺</p>
            </a>
        </div>
    </div>
    <div class="ys_page" id="page_set_amount" style="display:none">
        <div class="ys_content ys_page_x">
            <div class="acount_user">
                <img id="set_amount_img" src="/static/outer_app/images/user_default.jpg">
                <p class="acount_user_tips" id="set_amount_tips"></p>
            </div>
            <form id="set_amount_form">
                <div class="amount_input">
                    <label class="amount_title" for="set_amount_input">积分数额</label>
                    <input type="number" id="set_amount_input" pattern="^[1-9]{1}\d*$" placeholder="请输入积分数额" emptyTips="积分数额不能为空" notMatchTips="请输入正确的数额" required>
                </div>
                <div class="ys_btns">
                    <a id="set_amount_submit" class="ys_btn" href="javascript:;">完成</a>
                </div>
            </form>
        </div>
    </div>
    <div id="page_show_amount" class="ys_page">
        <div class="ys_content ys_page_x">
            <div class="acount_user">
                <img id="show_amount_img" src="/static/outer_app/images/user_default.jpg">
                <p class="acount_user_tips" id="show_amount_tips"></p>
            </div>
            <div class="entered_amount">
                <h1><span id="show_amount_credits"></span>积分</h1>
            </div>
            <div class="ys_btns">
                <a id="show_amount_submit" class="ys_btn" href="javascript:;">完成</a>
            </div>
        </div>
    </div>
</body>
</html>
