<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>店铺信息</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link href="/static/outer_app/css/yinsho.css" rel="stylesheet"/>
    <link href="/static/outer_app/css/main.css" rel="stylesheet"/>
    <link href="/static/outer_app/font/iconfont.css" rel="stylesheet"/>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/static/outer_app/asset/jquery.min.js"></script>
    <script src="/static/outer_app/js/validate.js"></script>
    <script src="/static/outer_app/js/popup.js"></script>
    <script src="/static/outer_app/js/tools.js"></script>
    <script src="/static/outer_app/js/shop.js"></script>
</head>
<body ontouchstart>
    <div class="container">
        <div class="user_panel flex_grid">
            <div class="avatar">
                <a id="shop_photo" href="javascript:;" photo_id="{{ shop.id }}"><img class="media-avatar" src="{{ shop.img_path }}"></a>
            </div>
            <a href="javascript:;" class="user_set ys_cell_bd open-popup" data-target="#page_shop_name_modify">
                <div class="ys_cell_bd">
                    <h3>{{ shop.name }}({{ shop.type }})</h3>
                </div>
                <div class="ys_cell_ft"></div>
            </a>
        </div>
        <div class="ys_cells">
            <div class="ys_cell">
                <div class="ys_cell_bd">经营者姓名</div>
                <div class="ys_cell_ft fill">{{ seller.name }}</div>
            </div>
            <div class="ys_cell">
                <div class="ys_cell_bd">联系方式</div>
                <div class="ys_cell_ft fill">{{ seller.telno }}</div>
            </div>
            <a class="ys_cell" href="{% url 'outer_app:address_modify_page' %}?from=shop&id={{ shop.id }}">
                <div class="ys_cell_bd">修改地址</div>
                <div class="ys_cell_ft fill"></div>
            </a>
            <a class="ys_cell" href="{% url 'outer_app:staticfile' name='seller_account_modify' %}">
                <div class="ys_cell_bd">绑定账户</div>
                <div id="account_no" class="ys_cell_ft fill">{{ seller.account }}</div>
            </a>
        </div>
    </div>
    <div id="page_shop_name_modify" class="ys_page" style="display:none">
        <div class="ys_content ys_page_x">
            <form id="shop_name_modify_form">
                <div class="ys_cells">
                    <div class="ys_cell">
                        <div class="ys_cell_hd">
                            <label>新店铺名</label>
                        </div>
                        <div class="ys_cell_bd">
                            <input name="name" class="ys_input" type="text" placeholder="请输入店铺名称" pattern="^[\u4E00-\u9FA5\w]+$" emptyTips="店铺名称不能为空" notMatchTips="格式错误" required>
                        </div>
                    </div>
                </div>
                <div class="ys_btns mt30">
                    <a id="shop_name_modify_submit" class="ys_btn" href="javascript:;">确定</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
