<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>提示</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link href="/static/outer_app/css/yinsho.css" rel="stylesheet"/>
    <link href="/static/outer_app/css/main.css" rel="stylesheet"/>
    <link href="/static/outer_app/font/iconfont.css" rel="stylesheet"/>
    <script src="/static/outer_app/asset/jquery.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/static/outer_app/js/tools.js"></script>
</head>
<body ontouchstart style="background-color: #fff">
	<div class="container">
		<div class="ys_prompt">
			<div class="ys_prompt_icon">
				<i class="iconfont icon-correct_big"></i>
			</div>
			<div class="ys_prompt_tips">
				<h2 class="ys_pt_title" id="content_title">功能完善中，近期开放</h2>
			</div>
			<div class="ys_prompt_btn">
				<a class="ys_btn" href="javascript:wx.closeWindow();" id="submit">返回</a>
			</div>
		</div>
	</div>
</body>
</html>
