/*客户预约请求
************************************************************/
.cus_item .pay_ph_bd:before{
  left: 0;
}
.pay_ph_ft{
  padding: 8px 15px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.pay_ph_ft:before{
  content: " ";
  position: absolute;
  left: 15px;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #e8e8e8;
  color: #e8e8e8;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.pay_ph_ft .ys_btn_mini{
  padding: 8px 2em;
}
.pay_ph_ft .ys_btn + .ys_btn{
  margin-left: 15px;
}